body {
    background-color: var(--border) !important;
}

main {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--border) !important;
    border-radius: var(--br) !important;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: var(--br);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-active);
}

.chat {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 12px;
    box-sizing: border-box;
    font-size: clamp(1rem, 4vw, 1.25rem);
    display: flex;
    justify-content: center;
    align-items: safe center;
    overflow-wrap: anywhere;
}


.input-message {
    padding: 8px 8px 16px 8px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--input);
    border-radius: 12px 12px 0 0;
    background-color: var(--background);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.10);
}

.resize-handle {
    opacity: 0.2;
    cursor: ns-resize;
    margin-bottom: -3px;
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding-bottom: 8px;
}

.input-area {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

textarea {
    background-color: var(--input);
    color: var(--text-color);
    width: 100%;
    border: none;
    box-sizing: border-box;
    min-height: 43px;
    max-height: 40dvh;
    line-height: 1.2em;
    resize: none;
    overflow-y: auto;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    position: absolute;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

.command {
    padding: 6px 0;
    cursor: pointer;
}

.active {
    background-color: var(--border);
    border-radius: 4px;
}

video {
    max-width: 160px;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    object-fit: cover;
}

#callMedia {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

#callLocalMedia {
    justify-content: right;
}

#callLocalMedia,
#callRemoteMedia {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.mirror video {
    transform: scaleX(-1);
}

#callLocalMedia:empty,
#callRemoteMedia:empty {
    display: none;
}

video.big {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 9998;
    background: #000;
    cursor: default;
    max-width: 100vw;
}

.video-close {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

video.big.mirror {
    transform: scaleX(-1);
}

p .accent {
    color: var(--soft-purple);
}