@media (prefers-color-scheme: light) {
    :root {
        --custom: var(--light-lavender);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --custom: var(--deep-indigo);
    }

}

footer#custom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

footer#custom>a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--custom);
    font-size: var(--h4);
}

@media (max-width: 768px) {
    footer#custom {
        top: 10px;
        bottom: auto;
    }
}

article.avatar[menu] {
    box-shadow: var(--shadow-bottom);
}

article.avatar[menu]>h2 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


article.avatar {
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--button-color);
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

article.avatar * {
    color: var(--accent);
}

button.avatar {
    font-size: var(--h4);
    padding: 20px
}