<!doctype html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <title>Чаты</title>
    <meta name="description"
        content="Анонимный чат в реальном времени. Общайтесь свободно, без истории переписки и идентификации!" />
    <meta name="keywords" content="chat, anonymous, chatroom" />
    <meta name="author" content="falbue" />
    <meta name="robots" content="index, nofollow" />
    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes" />

    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/project-PDE/cdn@0.2.1.10/css/main.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/project-PDE/cdn@0.2.1.10/js/main.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">

    <script src="{{ url_for ('.static', filename='scripts/ui/chats.js') }}"></script>

</head>

<body>
    <main>
        <section>
            <div class="card-list">
                <div class="card w100" menu="create-chat">
                    <main class="center">
                        <h2 class="iconoir-plus accent"></h2>
                    </main>
                </div>
            </div>
        </section>
    </main>
</body>

</html>